.grid{
    height: 100%;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: space-around;
    align-items: center;
    
}
.turn-highlight{
    color: white;
}
.grid-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reset{
    padding: 5px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    
}
.reset:hover {
    background-color:#002ead;
    transition: 0.7s;
}
.reset:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}